#card1 {
    background-color: #4863A0;
    color: white;
    margin-bottom: 20px;
}

#card2 {
    background-color: #A63D26;
    color: white;
    margin-bottom: 20px;
}

.img-activite {
    width: 200px;
}

h2.titre-1-s {
    text-align: center;
    margin-bottom: 20px;
}



#stage-adulte {
    background-color: #A63D26;
}